{% block content %}
    <section class="about-us">
        <h1>About IGA</h1>
        <p>IGA came to our minds when we realized how many girls and women are deprived of education due to poverty, culture, gender bias, and other factors. We thought that some women who have overcome these challenges and achieved success in life could support those who are less fortunate, by sharing some of their resources and knowledge, either online or in person, and by telling their stories on IGA. That's how we created IGA.</p>
    </section>
{% endblock %}



    