{% block content %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    .about-us {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    h1 {
        color: #333;
    }

    p {
        color: #666;
        line-height: 1.6;
        margin-bottom: 15px;
    }
</style>
    <section class="about-us">
        <h1>About IGA</h1>
        <p>IGA came to our minds when we realized how many girls and women are deprived of education due to poverty, culture, gender bias, and other factors. We thought that some women who have overcome these challenges and achieved success in life could support those who are less fortunate, by sharing some of their resources and knowledge, either online or in person, and by telling their stories on IGA. That's how we created IGA.</p>
        <p>IGA is a website that aims to leverage technology to provide quality and accessible education to women, thus bridging the gender gap in education.</p>

    <p>The meaning of IGA in English is "STUDY or LEARN". It is a Kirundi word and the name of this website that lets users share blogs or photos related to education. Only educational content is allowed on this website. We want users who post on this website to tell us how online education has helped them or not. We also want them to include links to the courses they have taken on their blogs and to show us photos of their transformation after taking these courses (before and after). This is to inspire young people who visit this website, especially girls and Women who have lost hope.</p>

    </section>
{% endblock %}



    