{% extends 'base.html' %}
{% block content %}
    <h2>Follow Users</h2>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >Confirm</button>
    </form>

   

  <h3>Available Users</h3>
  {% for user in users %}
  <ol><li>{{ user.username }}</li></ol>
  <ul>
    
      
        
        <li>{{ user.email }}</li>
        <li>{{ user.role }}</li>
    
        <input type="checkbox" name="users_to_follow" value="{{ user.id }}">
      
    {% endfor %}
  </ul>

{% endblock content %}