{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}
    <h2>Your Feed</h2>
    <div class="grid-container">
        {% for instance in page_obj %}
            {% if instance|model_type == 'Blog' %}
                {% include 'iga/partials/blog_snippet.html' with blog=instance %}
            {% elif instance|model_type == 'Photo' %}
                {% include 'iga/partials/photo_snippet.html' with photo=instance %}
            {% elif instance|model_type == 'Photo' %}
                {% include 'photo_upload.html' with photo=instance %}
            {% endif %}
        {% endfor %}
    </div>
    {% include 'partials/page_navigator.html' %}
{% endblock content %}