{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Frontend</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header>
        <div id="top-left-buttons">
            <a href="{% url 'signup' %}" id="signup-btn">Sign Up</a>
            <span id="slash">/</span>
            <a href="{% url 'login' %}" id="signin-btn">Sign in</a>
        </div>
        <div class="header-content">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                    <li><a href="{% url 'about_us' %}" class="nav-link">About Us</a></li>
                    <li><a href="{% url 'contact_us' %}" class="nav-link">Contact Us</a></li>
                    <li><a href="{% url 'privacy_and_policy' %}" class="nav-link">Privacy and Policy</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main-content">
      <main>
      <p><strong>Welcome to IGA</strong></p> 
      <img src="{% static 'img/women_in-education.png' %}" alt="Women in Education">
      <h1>“Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” – Malcolm X</h1> 
    
      </main>
  </div>


  
</body>

</html>
{% endblock %}
