asgiref==3.7.2
astroid==3.0.1
blinker==1.7.0
click==8.1.7
colorama==0.4.6
dill==0.3.7
Django==4.2.6
django-cors-headers==4.3.0
django-cors-middleware==1.5.0
djangorestframework==3.14.0
Flask==3.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
Pillow==10.1.0
platformdirs==4.0.0
pylint==3.0.2
pytz==2023.3.post1
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.2
typing_extensions==4.8.0
tzdata==2023.3
Werkzeug==3.0.1
whitenoise==6.6.0