body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    background-color: #0000ff;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#top-right-buttons {
    display: flex;
    align-items: center;
}

#signup-btn,
#signin-btn {
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.header-content {
    display: flex;
    align-items: center;
}
.search-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.search-button svg {
    vertical-align: middle;
    margin-right: 8px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    margin-bottom: 15px;
}

li {
    margin-bottom: 8px;
}
.privacy_and_policy {
max-width: 800px;
margin: 50px auto;
padding: 20px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
}